<html>  
    <head>
          <% include shared/_head.ejs %>
    </head>
    <body>

        <h1>Oh, new face!!1</h1>

        <form action="/" method="post">
            <input type="text" name="body">
            <input type="submit">
        </form>

        </br>        


<style>

#toread td:hover {
    cursor: pointer;
}
</style>



<table class="table table-striped table-hover " id="toread">
  <thead>
    <tr>
      <th>#</th>
      <th>Link</th>
      
    </tr>
  </thead>
  <tbody>

<%= unpackCollection(taskCollectionViewModel.notDone, false) %>
<%= unpackCollection(taskCollectionViewModel.done, true) %>


  </tbody>
</table> 

<% function unpackCollection(collection, isDone){ 
  let status_class = isDone ? "success" : "info";
  let counter = 0; 
  collection.forEach(function(t){ %>
    <tr class="<%=status_class %>" id="<%= t._id %>">
      <td><%= counter++; %></td>
      <td> <a href="http://google.com"> <%= t.task %> </a></td>

      <td width="15%">
        <!-- Single button -->
        <div class="btn-group">
          <% if(isDone) {%>
           <a  class="btn btn-primary btn-xs btn-undo">Not done yet!</a>
           <% } %>
           <% if(!isDone) { %>
            <a class="btn btn-success btn-xs btn-do">Its done!</a>
           <%}%>
        </div>
      </td>
        <td width="15%">
        <a class="btn btn-danger btn-xs">Delete!</a>        
      </td>
    </tr>
<%});%>
 <%}%>

    </body>
  <script>
    $(document).ready(function() {
        $('.btn-undo').click(function() {
          console.log("V")
            var _id = $(this).parent().parent().parent().attr('id');
            console.log(_id);
            $.ajax({
              type: 'PUT',
              data: 'id=17446&chru=0',
              success: function() {location.reload() },
              error: function(){ location.reload() },
              url: '/do/'+_id,
              cache:false
            });
        });

          $(".btn-do").click(function(){
            
            var _id = $(this).parent().parent().parent().attr('id');
            $.ajax({
              type: 'PUT',
              data: 'id=17446&chru=0',
              success: function() {location.reload() },
              error: function(){ location.reload() },
              url: '/do/'+_id,
              cache:false
            });
          });
        // $('#toread tr').click(function() {
        //     var _id = $(this).attr('id');
        //     console.log(_id);
        //     $.ajax({
        //       type: 'PUT',
        //       data: 'id=17446&chru=0',
        //       success: function() {location.reload() },
        //       error: function(){ location.reload() },
        //       url: '/do/'+_id,
        //       cache:false
        //     });
          
                
            
       // });

    


});
  </script>
</html>