@{
    Layout = "_BackofficeLayout";
}

@model dottech.web.ViewModels.BackofficeRoomViewModel

<h2>Hi!</h2>
<a class="btn btn-info" asp-action="Edit" asp-route-id="@Guid.Empty">Create</a>
<div class="row">
    @foreach (var thought in Model.Thoughts)
    {

        <div class="col-md-12">
            <div class="jumbotron well">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@thought.Id">Edit</a>
                <form asp-action="Delete" method="Delete">
                    <input type="hidden" name="id" value="@thought.Id"/>
                    <input class="btn btn-danger" type="submit" value="Delete"/>
                </form>
                <h2>@thought.Title</h2>
                <hr />
                <div>@Html.Raw(thought.Body)</div>
            </div>
        </div>
    }
</div>
